{% extends "./base_generic.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'web_2025/css/student.css' %}">
{% endblock %}

{% block content %}
<div class="student-card" style="padding: 1rem;flex-direction:column !important;">
    <h1>Все студенты</h1>

    <ul style="gap: 0.5rem; display: grid;">
        {% for st in students %}
        <li><a style="text-decoration: underline; color:cornflowerblue;" href="/student/{{st.id}}/">{{st.first_name}}
                {{st.last_name}} ({{st.clan}})</aa>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}