<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Twilight Index</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'web_2025/style.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="main">
        <nav class="navigation">
            <div class="logo" style="height: 40px;">
                <a href="/">
                    <img src="../static/web_2025/logo_text.png" style="height: 100%; object-fit: cover;" alt="Twilight" />
                </a>
            </div>

            <div class="hrefs">
                <a href="/about/">О нас</a>
                <a href="/feedback/">Обратная связь</a>
                <a href="/register/">Регистрация</a>
                <a href="/login/">Вход</a>
                <a href="/student/1/">Пример студента</a>
                <a href="/course/python-basics/">Курс Python</a>
            </div>
        </nav>

        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>

</html>