{% extends "./base_generic.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'web_2025/css/ability.css' %}">
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <p>Сверхспособности</p>
    <p>Уникальные таланты и силы вампиров</p>
    <div class="ability-card">
        <div class="ability-image">
            <p>Ментальный</p>
            <p>Телепатия</p>
        </div>

        <div class="ability-card-content">
            <span>Способность читать мысли любого, кто находится в определённом радиусе. Единственное известное
                исключение — Белла Свон.</span>
            <hr>

            <div class="ability-card-card">
                <h1>Носитель</h1>
                <p>Эдвард Каллен</p>
            </div>

            <div class="ability-card-card">
                <h1>Продолжительность</h1>
                <p>Высокая</p>
            </div>

            <div class="ability-card-card">
                <h1>Тип способности</h1>
                <p>Ментальный</p>
            </div>

            <div class="ability-card-card">
                Эта способность является одной из самых редких и мощных среди вампиров, позволяя носителю проникать в
                самые сокровенные мысли окружающих.
            </div>
        </div>
    </div>
</div>
{% endblock %}