{% extends "./base_generic.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'web_2025/css/course.css' %}">
{% endblock %}

{% block content %}
<div style="text-align: center;" class="view">
    <header>
        <p>Сверхспособности</p>
        <p>Уникальные таланты и силы вампиров</p>
    </header>
    <div class="ability-card">
        <div class="ability-image">
            <img style="width: 5rem; max-height: 3rem; object-fit: cover; border-radius: 0.5rem;" src="{{image}}" />
            <p style="font-size:xx-large; line-height: 0; font-weight: bolder;">{{course.title}}</p>
        </div>

        <div class="ability-card-content">
            <span>{{course.description}}</span>
            <hr>

            <div class="ability-card-card">
                <h1>Вольтурианец</h1>
                <p>{{course.volturian.first_name}} {{course.volturian.last_name}} ({{course.volturian.ability}} ||
                    {{course.volturian.degree}})</p>
            </div>

            <div class="ability-card-card">
                <h1>Продолжительность</h1>
                <p>{{course.duration}} мин.</p>
            </div>
        </div>
    </div>
    <footer>
        {% for c in others %}
        <a href="/course/{{c.slug}}/">{{c.title}}</a>
        {% endfor %}
    </footer>
</div>
{% endblock %}