<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Twilight Index</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'web_2025/style.css' %}">
</head>

<body>
    <div class="main">
        <nav class="navigation">
            <div class="logo" style="height: 40px;">
                <img src="../static/web_2025/logo_text.png" style="height: 100%; object-fit: cover;" alt="Twilight" />
            </div>

            <div class="hrefs">
                <a href="/about/">О нас</a>
                <a href="/feedback/">Обратная связь</a>
                <a href="/register/">Регистрация</a>
                <a href="/login/">Вход</a>
                <a href="/student/1/">Пример студента</a>
                <a href="/course/python-basics/">Курс Python</a>
            </div>
        </nav>

        <main class="content">
            <div class="card">
                <p style="font-size: x-large; font-weight: bolder;">Welcome to the Twilight Realm</p>
                <p>Enter a world where eternal love meets the mystic shadows of an ancient forest. Experience the beauty
                    of
                    the
                    twilight hours where vampires and mortals intertwine.</p>

                <div class="gallery">
                    <div class="item">
                        <img src="../static/web_2025/eternal-love.jpg" alt="Eternal Love">
                        <span>Eternal Love</span>
                    </div>

                    <div class="item">
                        <img src="../static/web_2025/dark-mystery.jpg" alt="Dark Mystery">
                        <span>Dark Mystery</span>
                    </div>

                    <div class="item">
                        <img src="../static/web_2025/wolves.jpg" alt="eternal love">
                        <span>Arousing Wolves</span>
                    </div>
                </div>
            </div>

            <div class="card">
                <span style="text-align: right; font-style: italic; font-size: large;">
                    "And so the lion fell in love with the lamb..."
                    <br>
                    — Twilight
                </span>
            </div>
        </main>


    </div>
</body>

</html>