<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Twilight Index</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'web_2025/style.css' %}">
</head>

<body>
    <nav class="navigation">
        <a href="/">Главная</a>
        <a href="/about/">О нас</a>
        <a href="/feedback/">Обратная связь</a>
        <a href="/register/">Регистрация</a>
        <a href="/login/">Вход</a>
        <a href="/student/1/">Пример студента</a>
        <a href="/course/python-basics/">Курс Python</a>
    </nav>
</body>

</html>