{% extends "./base_generic.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'web_2025/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="card index-card">
    <p style="font-size: x-large; font-weight: bolder;">Добро пожаловать в Форкс, Аризона!</p>
    <p>Я никогда не задумывалась о том, как умру, но умереть вместо того, кого любишь, — мне кажется, это хорошая
        смерть. Я не жалею о решениях, которые привели меня сюда. Ведь они привели меня к Эдварду.</p>

    <div class="gallery">
        <div class="item">
            <img src="/static/web_2025/eternal-love.jpg" alt="Eternal Love">
            <span>Eternal Love</span>
        </div>

        <div class="item">
            <img src="/static/web_2025/dark-mystery.jpg" alt="Dark Mystery">
            <span>Dark Mystery</span>
        </div>

        <div class="item">
            <img src="/static/web_2025/wolves.jpg" alt="eternal love">
            <span>Arousing Wolves</span>
        </div>
    </div>
</div>

<div class="card">
    <span style="text-align: right; font-style: italic; font-size: large;">
        "И вот лев влюбился в овечку."
        <br>
        — Сумерки
    </span>
</div>
{% endblock %}