{% extends "./base_generic.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'web_2025/css/register.css' %}">
{% endblock %}

{% block content %}
<div class="card register-card">
    <div style="width: 25rem; height: 100%;">
        <img src="{% static 'web_2025/jacob.png' %}" alt="Jacob" class="register-image">
    </div>

    <div class="form-content">
        <p style="font-size: large; font-weight: bold;">Регистрация</p>
        <p style="color: #eee; margin-bottom: 2rem; width: 100% !important;">Мы с нетерпением ждём твоего превращения.
        </p>

        <form style="display: contents;" method="post">
            {% csrf_token %}

            {% for field in form %}
            <div class="input-field">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="error">
                    {% for error in field.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}