{% extends "./base_generic.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'web_2025/css/student.css' %}">
{% endblock %}

{% block content %}
<div class="card-view">
    <div class="student-card">
        <img src="{{student.image}}" alt="{{student}}" />
        <div class="student-content">
            <h1>{{student.first_name}} {{student.last_name}}<br>
                ДР: {{student.birth_date}} лет<br>
                @: {{student.email}}<br>
                <i>{{clan}}</i>
            </h1>
            <p style="text-decoration: underline;">{{status}}</p>
        </div>
    </div>

    <div class="student-list">
        {% for other in everyone_else %}
        <a href="/student/{{other.id}}/">{{other.first_name}} {{other.last_name}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}