.register-card {
    display: flex !important;
    flex-direction: row;
    align-items: flex-end;
    gap: 0 !important;
    position: relative;
}

.register-image {
    height: 25rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-content {
    width: 100%;
    display: grid;
    gap: 1rem;
    justify-items: center;
    max-width: 25rem;
    width: 100%;
}

.register-card .input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register-card p {
    width: 100% !important;
}

.register-card .input-field label {
    width: 100%;
    margin-bottom: 0.25rem;
}

.register-card .input-field input,
.register-card .input-field textarea {
    padding: 0.5rem 1rem;
    backdrop-filter: blur(40px);
    background-color: #ffffff20;
    color: white;
    border-radius: 0.5rem;
    border: 1px solid #ffffff20;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

.register-card .input-field textarea {
    min-height: 5rem;
}


.register-card .input-field input::placeholder,
.register-card .input-field textarea::placeholder {
    color: #ffffff80;
}

.register-card .input-field input:focus,
.register-card .input-field textarea:focus {
    box-shadow: 0 0 0 4px color-mix(in oklab, black 10%, transparent);
    outline: none;
}

.register-card .form-content button {
    background-color: #00000057;
    color: white;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #ffffff3d;
    border-radius: 0.5rem;
    transition: background-color 100ms;
    cursor: pointer;
}

.register-card .form-content button:hover {
    background-color: #00000080;
}