.register-card {
    display: flex !important;
    flex-direction: row;
    align-items: flex-end;
    gap: 0 !important;
    position: relative;
}

.register-image {
    height: 25rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-content {
    width: 100%;
    display: grid;
    gap: 1rem;
    justify-items: center;
    max-width: 25rem;
    width: 100%;
}

.register-card .input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register-card p {
    width: 100% !important;
}

.register-card .input-field label {
    width: 100%;
    margin-bottom: 0.25rem;
}
