body {
    background-image: url("../web_2025/twilight.jpg");
    background-color: #293049;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    width: 100vw;
}

.main {
    display: grid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    gap: 20px;
}

.navigation {
    position: sticky;
    top: 0;
    width: 100%;
    border: 1px solid #ffffff20;
    display: flex;
    padding: 1rem;
    background: #ffffff10;
    border-radius: 1rem;
    backdrop-filter: blur(40px);
    flex-direction: row;
    margin: 0 auto;
    max-width: 100%;
    justify-items: center;
    align-items: center;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.navigation a {
    color: white;
    text-decoration: none;
    font-family: system-ui;
    border: 1px solid #ffffff30;
    padding: 0.5rem;
    border-radius: 10px;
    background: #ffffff20;
    backdrop-filter: blur(10px);
    transition-property: color;
    transition: background-color 250ms;
    text-wrap: nowrap;
}

.navigation a:hover {
    background: #ffffff40;
}

.navigation .logo {
    width: 100%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: left;
}

.navigation .hrefs {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.content {
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff10;
    border: 1px solid #ffffff20;
    backdrop-filter: blur(80px);
    border-radius: 1rem;
    padding: 1rem;
    min-height: 100px;

    display: grid;
    gap: 2rem;
    justify-items: center;
    color: color-mix(in oklab, white 90%, transparent);
    margin: 0 auto;
}

.content p {
    max-width: 60%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.content .gallery {
    display: flex;
    gap: 1rem;
}

.content .gallery .item {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    width: 16rem;
    border: 1px solid #ffffff30;
}

.content .gallery .item img {
    width: 16rem;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    z-index: 0;
    transition: object-position 10s;
    object-position: left;
}

.content .gallery .item:hover img {
    object-position: right;
}

.content .gallery .item span {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    width: 100%;
    background-color: #000000aa;
    backdrop-filter: blur(20px);
    line-height: 4rem;
    font-size: x-large;
    font-weight: bolder;
}