.view {
    display: grid;
    gap: 1rem;
}

header,
footer,
.ability-card {
    background-color: transparent;
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(100px);
    border: 1px solid #ffffff20;
}

header {
    font-weight: bolder;
    font-size: xx-large;
    padding: 1rem;
    line-height: 1rem;
}

header p:nth-child(2) {
    font-size: medium;
}

footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}