.feedback-card {
    gap: 1rem !important;
}

.feedback-card img {
    height: 6rem;
}

.feedback-card .input-field {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    width: 100%;
    align-items: center;
}

.feedback-card .input-field label {
    width: 100%;
}

button {
    max-width: 20rem;
}