.login-card {
    display: flex !important;
    flex-direction: row;
    gap: 0 !important;
    position: relative;
    justify-content: center;
}

.login-image {
    height: 25rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.form-content {
    width: 100%;
    display: grid;
    gap: 1rem;
    justify-items: center;
    max-width: 25rem;
    width: 100%;
}

.login-card .input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-card p {
    text-align: center;
}

.login-card .input-field label {
    width: 100%;
    margin-bottom: 0.25rem;
}