.register-card {
    display: flex !important;
    flex-direction: row;
    align-items: flex-end;
    gap: 0 !important;
    position: relative;
    justify-content: center;
}

.register-image {
    height: 25rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-content {
    width: 100%;
    display: grid;
    gap: 1rem;
    justify-items: center;
    max-width: 25rem;
    width: 100%;
}

.register-card .input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register-card p {
    text-align: center;
}

.register-card .input-field label {
    width: 100%;
    margin-bottom: 0.25rem;
}

.error {
    color: #ffe2e4;
    font-size: 0.875em;
    margin-top: 0.25rem;
    background-color: rgb(220 53 69 / 66%);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border-left: 3px solid #ed9ca4;
}