.card-view {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-content: center;
    align-items: center;
}

.student-card {
    width: 80%;
    overflow: hidden;
    border-radius: 1rem;
    backdrop-filter: blur(100px);
    border: 1px solid #ffffff20;

    display: flex;
    flex-direction: row;
}

.student-card img {
    width: 26rem;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.student-content h1 {
    font-size: xx-large;
    font-weight: bolder;
}

.student-content {
    width: 40rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.student-list {
    display: grid;
    gap: 1rem;
}

.student-list a {
    text-decoration: none;
    color: white;
    border-radius: 1rem;
    height: max-content;
    width: 12rem;
    height: 4rem;
    backdrop-filter: blur(100px);
    font-weight: bolder;
    text-align: center;
    border: 1px solid #ffffff20;
    line-height: 4rem;
    transition: background-color 250ms;
}

.student-list a:hover {
    background-color: #ffffff20;
}